.title{
    font-weight: 900;
    font-size: 80px;
    font-family: Impact;
    color: black;
}
p{
    font-size: 35px;
    font-family: "Roboto Slab", serif;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

button:hover{
    background-color: green;
}